<h1>Home Page</h1>

<app-products [Products]="mensproducts">
    <h2 class="heading text-center" #projectedhead >mens products</h2>
    <!-- <h2 class="heading" #projectedhead>mens products demo</h2> -->
        <a href="#" class ='footer float-end'>see more ...</a>

</app-products>

<hr>

<app-products [Products]="kidsproducts">
    <h2 class="heading text-center" #projectedhead >kids products</h2>
    <!-- <h2 class="heading" #projectedhead >kids products demo</h2> -->
    <a href="#" class="footer float-end">Browse more....</a>
</app-products>
